$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
@import "./bootstrap_themes.scss";

// =======================================

.intro {height: 90vh;}
.header {margin-bottom: 49px;}
.nav-level-down {display: block !important;}
.navbar-default ul.dropdown-menu {
    margin: -30px 0 0 12px !important;  
}
.loader{
  text-align: center;
  padding: 30px;
}
.intro-body{
  .heading{
    &:before{
      content: none;
    }
  }
}

// important!
.navbar-default .dropdown-menu > li{
  a{
    color: #fff;
  }
  &:hover{
    a{
      color: #000;
      text-decoration: none;
    }
  }
}

.navbar-default .dropdown-menu li.active {
  a{
    color: #000;
  }
}

.latest-post.detail h2 {
  letter-spacing: 1px;
}

@keyframes pulse{
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

// iphone 5
@media (max-width: 321px){
  .header{
    min-height: 178px !important;
  }
  .news-feed{
    h2{
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 992px){
  .header{
    min-height: 122px;
    margin-bottom: 37px;
  }
  .intro{
    height: auto;
  }
  .intro-body{
    padding-bottom: 0;
  }
  .img-responsive{
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 993px){
  .nav-level-down {
      display: none !important;
  }
}



@media (max-width: 667px) and (min-width: 567px){
  .intro .intro-body .brand-heading img {
      max-width: 100% !important;
  }
}
